doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		link(rel="shortcut icon", href="./images/door-mat.png", type="image/png")
		link(rel="stylesheet", href="./stylesheets/style.css")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather&family=Titan+One&display=swap")

	body
		nav 
			h1 Members Only 
			div
				if (currentUser)
					a(href="/message") #[img(src="./images/plus-circle.svg", alt="create message")]
					if (!currentUser.member)
						a(href="/member") #[img(src="./images/layout.svg", alt="membership form")]
					if (!currentUser.admin)
						a(href="/admin") #[img(src="./images/lock.svg", alt="admin form")]
					a(href="/log-out") #[img(src=currentUser.avatar, alt="profile picture")]
				else 
					a(href="/log-in") #[img(src="./images/log-in.svg", alt="log in")]
					a(href="/sign-up") #[img(src="./images/edit-2.svg", alt="sign up")]
				img(src="./images/github.png", alt="github link", id="github-link")
		block content