extends layout 

block content 
	.sign.container 
		img(src="./images/door-mat.png", alt="placeholder image")
		if (currentUser.member)
			div 
				h2 Congratz! You are a member!
				p To go back, #[a click here!]
		else
			form(action="/member", method="post") 
				h2 Membership form!
				if (error)
					p.error= error
				div.input-container 
					input#passcode(type="text", name="passcode", value="", required)
					label(for="passcode") 
						.text Passcode...
				button(type="submit") Submit the code!
	script.
		document.querySelectorAll("input").forEach(e => {
			e.addEventListener("keyup", () => {
				e.setAttribute("value", e.value);
			});
		});
