extends layout 

block content
	if (!currentUser)
		.sign.container 
			img(src="./images/door-mat.png", alt="placeholder image")
			form(action="/sign-up", method="post") 
				h2 The Sign up form! 
				p Already registered? #[a(href="./log-in") Log in!]
				if (error)
					p.error= error 
				div.input-container 
					input#username(type="text", name="username", maxLength="25", value="", required)
					label(for="username") 
						.text Username...
				div.input-container 
					input#avatar(type="text", name="avatar", value="", required)
					label(for="avatar") 
						.text Avatar Link...
				div.input-container 
					input#password(type="password", name="password", value="", required)
					label(for="password") 
						.text Password...
				button(type="submit") Sign Up!
	else 
		.log.bad-cred-cover.container
			.bad-cred
				h2 You are already logged in!
				p You can #[a(href="/") visit the messaging board] in here!
				a.submit(href="/log-out") Log-out
	script.
		document.querySelectorAll("input").forEach(e => {
			e.addEventListener("keyup", () => {
				e.setAttribute("value", e.value);
			});
		});
